$margin-bot: 40px;
$body-font: Verdana;

// ################### HEADER #####################
$opacity: .8;
$nav-font-size: 14px;
$nav-padding: 10px;
$nav-margin: 10px;
$nav-anchor-color: black;
$nav-background-color: #AEEA00;
$nav-height: 40px;

// ################### ABOUT #####################
$about-padding: 20px;

// ################### FOOTER #####################
$footer-font-size: 14px;
$footer-font-color: black;
$footer-background-color: #AEEA00;
$footer-height: 40px;
